body {
  text-align: center;
  font-family: sans-serif;
  background: #f5f5dc;
}
#hedgehog {
  width: 200px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.rolling {
  transform: rotate(360deg);
}
